<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <servers>
        <server>
            <id>nexus</id>
            <username>admin</username>
            <password>fc1b5e25-4f25-479d-9d0d-9cfafb2b175a</password>
        </server>
        <server>
            <id>nexus-releases</id>
            <username>admin</username>
            <password>fc1b5e25-4f25-479d-9d0d-9cfafb2b175a</password>
        </server>
        <server>
            <id>nexus-snapshots</id>
            <username>admin</username>
            <password>fc1b5e25-4f25-479d-9d0d-9cfafb2b175a</password>
        </server>
    </servers>
</settings>